<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - shopping cart|codehal</title>
   <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href=""
    />
<body>
<main>
    <section class="forgot-pass">
        <div class="form">
            <h3>Forgot Password</h3>
            <hr>

            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="input-field">
                    <label>Email</label>
                    {{ form.email }}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </section>



   <script src="static/js-script/script.js"></script>
    </main>
</body>
</html>
