<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - shopping cart|codehal</title>
   <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href=""
    />
<body>

<main>
    <section class="reset-password">
        <div class="form">
            <h3>Reset Password</h3>
            <hr>

            <form method="POST">
                {{ form.hidden_tag() }}

                <div>
                    <label>New Password</label>
                    {{ form.password }}
                </div>

                <div>
                    <label>Confirm Password</label>
                    {{ form.confirm_password }}
                </div>

                {{ form.submit }}
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p class="flash">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}

    </section>


     <script>
    function validatePasswords() {
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirm_password').value;
      const errorMessage = document.getElementById('error-message');

      if (password !== confirmPassword) {
        errorMessage.textContent = "Passwords do not match!";
        return false;
      }

      if (password.length < 6) {
        errorMessage.textContent = "Password must be at least 6 characters long!";
        return false;
      }

      errorMessage.textContent = "";
      return true;
    }
  </script>
</main>
</body>
</html>